@import '../../../../../assets/sass/variables';
@import '../../../../../assets/sass/mixins';

.EmbededTrailerOnHover{
    min-width: 856px;
    min-height: 481px;
    max-width: 856px;
    max-height: 481px;
    object-fit: cover;
    border-radius: 4px;
    
    @include mq-small{
        min-width: 546px;
        min-height: 307px;
        max-width: 546px;
        max-height: 307px;
    }
}