@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.MediaPage{
    position: relative;
    @include flex-column-start-center;
    min-height: 100vh; 
    min-width: 480px;
    width: 100%;
    background-color: $background-primary-color;

    .Media-container{
        flex: 1;
        width: 100%;
    }
}