@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.WhoIsWatchingPage{
    min-height: 100vh; 
    width: 100%;
    background-color: $background-8-color;
    @include flex-column-center-center;

    .Who-is-watching-container{
        @include flex-column-center-center;
        gap: 32px;
        padding: 64px;

        @include mq-medium{
            padding: 32px;
        }

        @include mq-small{
            padding: 16px;
        }

        .Title{
            font-size: 5vw;
            font-family: Arial, Helvetica, sans-serif;
            color: $font-primary-color;
            text-align: center;

            @include mq-large{
                font-size: $font-size-xl;
            }
        }

        .Profiles{
            @include flex-row-center-center;
            gap: 32px;

            @include mq-small{
                @include flex-column-center-center;
            }

            .Profile-container{
                @include flex-column-center-center;
                gap: 12px;
                cursor: pointer;

                .Icon{
                    width: 10vw;
                    height: 10vw;
                    object-fit: cover;
                    object-position: center center;
                    border-radius: 4px;

                    filter: brightness(0.8);
                    transition: 300ms all;

                    &:hover{
                        border: 4px solid white;
                    }

                    @include mq-large{
                        width: 96px;
                        height: 96px;
                    }
                }

                .Owner-name{
                    font-size: 1.5vw;
                    font-weight: 400;
                    color: $font-tertiary-color;
                    transition: 300ms all;

                    &::first-letter{
                        text-transform: capitalize;
                    }

                    @include mq-large{
                        font-size: $font-size-small;
                    }
                }

                &:hover{
                    .Icon{
                        filter: brightness(1);
                    }

                    .Owner-name{
                        color: $font-primary-color;
                    }
                }
            }

            .Add-profile{
                @include flex-column-center-center;
                gap: 8px;
                cursor: pointer;

                .Icon{
                    width: 5vw;
                    height: 5vw;
                    margin: 2.5vw;
                    filter: invert(0.6);
                    transition: 300ms all;

                    @include mq-large{
                        margin: 24px;

                        width: 48px;
                        height: 48px;
                    }
                }

                .Description{
                    font-size: 1.5vw;
                    font-weight: 400;
                    color: $font-tertiary-color;
                    transition: 300ms all;

                    @include mq-large{
                        font-size: $font-size-small;
                    }
                }

                &:hover{
                    .Icon{
                        filter: invert(1);
                    }
                    .Description{
                        color: $font-primary-color;
                    }
                }
            }
        }

        .Manage-profiles-button{
            margin-top: 56px;
            padding: 1vw 2vw;
            border: 1px solid $font-tertiary-color;
            background-color: transparent;
    
            font-size: 1.5vw;
            font-weight: 400;
            letter-spacing: 1px;
            color: $font-tertiary-color;

            transition: 300ms all;
            cursor: pointer;

            &:hover{
                border: 1px solid $font-primary-color;
                color: $font-primary-color;
            }

            @include mq-large{
                padding: 6px 12px;
                font-size: $font-size-small;
            }

            @include mq-medium{
                margin-top: 16px;
            }

            @include mq-small{
                margin-top: 8px;
            }
        }

    }

}