@import '../../../../../../assets/sass/variables';
@import '../../../../../../assets/sass/mixins';

.videoContainer {
    width: 100%;
    height: auto;
    position: relative;
}

.StreamingPreviewVideoOnHover video{
    width: 100%;
    height: auto;
}

#loading {
    position: absolute;
    margin: auto;
    inset: 0;
    width: max-content;
    height: max-content;
}

#loading.icon-loading {
    display: block;
}

#loading.icon-not-loading { 
    display: none;
}