@font-face {
  font-family: NetflixSans;
  src: url('./Presentation/assets/fonts/Netflix/NetflixSans-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: NetflixSans;
  src: url('./Presentation/assets/fonts/Netflix/NetflixSans-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: NetflixSans;
  src: url('./Presentation/assets/fonts/Netflix/NetflixSans-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: NetflixSans;
  src: url('./Presentation/assets/fonts/Netflix/NetflixSans-Bold.otf');
  font-weight: 600;
}

:root {
  font-family: NetflixSans;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#root{
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

* {
  border: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid #000000;
  background: #525252;
  border-radius: 8px;

  transition: .2s all;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(229,9,20);
}