@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 100;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 300;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 500;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 700;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format("woff")
}

@font-face {
  font-display: fallback;
  font-family: Netflix Sans;
  font-weight: 900;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format("woff2"),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format("woff")
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: Netflix Sans;
}

body {
  margin: 0;
}

#root{
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #000000;
}

* {
  border: none;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid #000000;
  background: #525252;
  border-radius: 8px;

  transition: .2s all;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgb(229,9,20);
}