@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';


.Work-preview{
    position: relative;
    @include flex-column-center-start;
    width: 100%;
    padding: 0;

    .Background-video{
        height: auto;
        width: 100%;
    }

    .Work-preview-menu{
        position: absolute;
        left: 20px;
        bottom: 100px;

        @include mq-large{
            bottom: 76px;
        }

        @include mq-medium{
            bottom: 56px;
        }

        @include mq-small{
            bottom: 36px;
        }

        .Title{
            margin-bottom: 12px;
            color: $font-primary-color;
            font-family: 'Playfair Display', serif;
            font-size: $font-size-xl;
            font-weight: 400;
            -webkit-text-stroke: 0.5px;

            @include mq-large{
                margin-bottom: 8px;
                font-size: $font-size-large;
            }

            @include mq-medium{
                margin-bottom: 8px;
                font-size: $font-size-medium;
            }

            @include mq-small{
                margin-bottom: 4px;
                font-size: $font-size-normal;
            }
        }

        .Toolbar{
            @include flex-row-start-center;
            gap: 8px;
            
            .Button{
                @include flex-row-center-center;
                gap: 4px;
                padding: 8px;
                border: none;
                outline: none;
                border-radius: 4px;
                font-size: $font-size-small;
                cursor: pointer;

                @include mq-small{
                    padding: 6px;
                    font-size: $font-size-smaller;
                }

                img{
                    width: 12px;
                    height: auto;
                }
            }
            .Button:nth-child(1){
                color: $font-secondary-color;
                background-color: $button-secondary-color;
            }
            .Button:nth-child(2){
                color: $font-primary-color;
                background-color: $button-tertiary-color;
            }
        }
    }
}