@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.SignupPaymentPickerPage{
    @include flex-column-center-center;
    width: 100%;
    min-height: 100vh; 
    width: 100%;
    background-color: $background-secondary-color;

    .Header{
        @include flex-row-space-between-center;
        width: 100%;
        padding: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.16);

        a{
            .Logo{
                height: 46px;
                width: auto;
            }
        }

        .Login-link{
            color: $font-quinary-color;
            font-size: $font-size-normal;
            font-weight: 500;
            text-decoration: none;

            &:visited{
                color: $font-quinary-color;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        
    }

    .Steps-container{
        flex: 1;

        .PaymentPicker-container{
            min-width: 320px;
            max-width: 560px;
            @include flex-column-start-center;
            padding: 32px;
            margin: 16px 0;

            @include mq-small{
                align-items: flex-start;
            }

            .Icon{
                width: 48px;
                height: auto;
                margin-bottom: 36px;
            }

            .Step-info{
                color: $font-quinary-color;
                font-size: $font-size-small;
                font-weight: 400;
                text-align: center;

                @include mq-small{
                    text-align: left;
                }
            }

            .Title{
                margin: 0 0 16px 0;
                color: $font-quinary-color;
                font-size: $font-size-xl;
                font-weight: 500;
                text-align: center;

                @include mq-small{
                    text-align: left;
                }
            }

            .Description{
                margin: 0 0 8px 0;
                color: $font-quinary-color;
                font-size: $font-size-medium;
                font-weight: 400;
                text-align: center;

                @include mq-small{
                    text-align: left;
                }
            }

            .Benefits{
                margin-bottom: 0;
                font-weight: 500;
            }

            .Criptography{
                margin-top: 16px;
                margin-bottom: 2px;
                align-self: flex-end;
                color: $font-quinary-color;
                font-size: $font-size-small;
                font-weight: 300;

                img{
                    margin-left: 2px;
                    width: 16px;
                    height: auto;
                }
            }

            a{
                width: 100%;
                text-decoration: none;

                .Payment-info-container{
                    @include flex-row-space-between-center;
                    width: 100%;
                    padding: 16px;
                    border: 2px solid rgba(gray, 0.5);
                    border-radius: 6px;
                    margin-bottom: 6px;

                    .Column-1{
                        @include flex-column-center-start;
                        gap: 4px;

                        & > .Title{
                            color: $font-quinary-color;
                            font-size: $font-size-normal;
                            font-weight: 300;
                            margin: 0;
                        }

                        & > .Cards-icons{
                            @include flex-row-start-start;
                            flex-wrap: wrap;
                            gap: 4px;
                        }
                    }

                    .Column-2{
                        img{
                            width: 24px;
                            height: auto;
                            filter: opacity(0.8);
                        }
                    }

                    .Inline{
                        flex-direction: row;
                    }
                }

            }
        }       

    }

    footer{
        width: 100%;
        @include flex-column-start-start;
        gap: 16px;
        padding: 24px 32px;
        margin-top: 76px;
        background-color: rgba(0,0,0,0.06);

        .Row-1{
            margin-bottom: 12px;
            font-size: $font-size-normal;
            font-weight: 400;
            color: $font-tertiary-color;

            a{
                color: $font-tertiary-color;
                text-decoration: none;
                cursor: pointer;

                &:visited{
                    color: $font-tertiary-color;
                    text-decoration: none;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .Row-2{
            width: 100%;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
            column-gap: 36px;
            row-gap: 14px;

            & > a {
                color: $font-tertiary-color;
                font-size: $font-size-small;
                font-weight: 300;
                text-decoration: none;

                &:visited{
                    color: $font-tertiary-color;
                    text-decoration: none;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .Row-3{
            margin-bottom: 24px;

            .Select-language{
                padding: 13px 4px 13px 44px;
                border: 1px solid rgba(255,255,255,0.24);
                border-radius: 2px;

                background-color: $background-secondary-color;
                background-image: url('../../assets/svg/globe2.svg');
                background-position: 10% 50%;
                background-repeat: no-repeat;
                background-size: 12%;

                backdrop-filter: grayscale(0.7);

                color: $font-tertiary-color;
                font-size: $font-size-normal;

                option{
                    background-color: $background-secondary-color;

                    font-size: $font-size-normal;
                    color: $font-primary-color;
                }

                &:focus{
                    outline-offset: 1px;
                    outline: 2px solid $button-secondary-color;
                }

                &::-ms-expand {
                    display: none;
                }
            }
        }
    }

}