$font-size-smallest: 0.6rem;
$font-size-smaller: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-medium2: 1.4rem;
$font-size-large: 1.6rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 4rem;

$background-primary-color: rgb(0,0,0);
$background-secondary-color: rgb(255,255,255);
$background-tertiary-color: #333;
$background-quaternary-color: #E3E3E3;

$background-6-color: rgb(21,19,21);
$background-7-color: rgb(25,24,26);
$background-8-color: #141414;

$font-primary-color: rgb(255,255,255);
$font-secondary-color: rgb(0,0,0);
$font-tertiary-color: #8c8c8c;
$font-quaternary-color: #b3b3b3;
$font-quinary-color: #333;
$font-link-color: #0071eb;

$button-primary-color: rgb(229,9,20);
$button-secondary-color: rgb(255,255,255);
$button-tertiary-color: #8c8c8c;

$primary-green: rgb(115, 204, 133);
$secondary-green: #46d369;

$primary-orange: #ffa500;

$primary-blue: #2eb2ff;

$primary-yellow: #f7d917;