$font-size-smallest: 0.6rem;
$font-size-smaller: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.6rem;
$font-size-xl: 2rem;
$font-size-xxl: 4rem;


$primary-color: rgb(255,255,255);

$background-primary-color: rgb(0,0,0);
$background-secondary-color: rgb(255,255,255);

$font-primary-color: rgb(255,255,255);
$font-secondary-color: rgb(0,0,0);

$button-primary-color: rgb(229,9,20);
$button-secondary-color: rgb(255,255,255);
