@charset "UTF-8";
.MediaCard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  background-color: rgb(25, 24, 26);
  border-radius: 4px;
  transition: transform 100ms ease-in, z-index 100ms linear, background-color 100ms ease-in;
  cursor: pointer;
}
.MediaCard:hover {
  z-index: 9999;
  transform: scale(1.5);
  overflow: visible;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: transform 100ms ease-in 200ms, z-index 400ms linear;
}
.MediaCard:hover .Thumbnail {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.MediaCard:not(:hover) .Hover-visible {
  display: none !important;
}
.MediaCard .Thumbnail {
  min-width: 244px;
  min-height: 137px;
  max-width: 244px;
  max-height: 137px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
@media only screen and (max-width: 576px) {
  .MediaCard .Thumbnail {
    min-width: 156px;
    min-height: 88px;
    max-width: 156px;
    max-height: 88px;
  }
}
.MediaCard .Mini-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
}
.MediaCard .Mini-menu .Toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.MediaCard .Mini-menu .Toolbar .Circle-invert {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
.MediaCard .Mini-menu .Toolbar .Circle-invert .Play-button {
  position: absolute;
  margin: auto;
  inset: 0;
  width: 10px;
  height: auto;
}
.MediaCard .Mini-menu .Toolbar .Circle-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  -webkit-backdrop-filter: brightness(1.4);
          backdrop-filter: brightness(1.4);
}
.MediaCard .Mini-menu .Toolbar .Circle-1:hover {
  border: 1px solid rgb(255, 255, 255);
}
.MediaCard .Mini-menu .Toolbar .Circle-1:hover::after {
  content: "Adicionar à minha lista";
  display: block;
  position: absolute;
  top: -32px;
  color: rgb(0, 0, 0);
  font-size: 0.6rem;
  background-color: #E3E3E3;
  white-space: nowrap;
  padding: 4px 8px;
}
.MediaCard .Mini-menu .Toolbar .Circle-1:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  background-color: #E3E3E3;
  transform: rotate(45deg);
}
.MediaCard .Mini-menu .Toolbar .Circle-1 .Add-to-list-button {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 300;
}
.MediaCard .Mini-menu .Toolbar .Circle-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  -webkit-backdrop-filter: brightness(1.4);
          backdrop-filter: brightness(1.4);
}
.MediaCard .Mini-menu .Toolbar .Circle-2:hover {
  border: 1px solid rgb(255, 255, 255);
}
.MediaCard .Mini-menu .Toolbar .Circle-2:hover::after {
  content: "Gostei";
  display: block;
  position: absolute;
  top: -32px;
  color: rgb(0, 0, 0);
  font-size: 0.6rem;
  background-color: #E3E3E3;
  white-space: nowrap;
  padding: 4px 8px;
}
.MediaCard .Mini-menu .Toolbar .Circle-2:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  background-color: #E3E3E3;
  transform: rotate(45deg);
}
.MediaCard .Mini-menu .Toolbar .Circle-2 .Like-button {
  width: 12px;
  height: auto;
  filter: invert(1);
}
.MediaCard .Mini-menu .Circle-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid #8c8c8c;
  border-radius: 50%;
  -webkit-backdrop-filter: brightness(1.4);
          backdrop-filter: brightness(1.4);
}
.MediaCard .Mini-menu .Circle-3:hover {
  border: 1px solid rgb(255, 255, 255);
}
.MediaCard .Mini-menu .Circle-3:hover::after {
  content: "Episódios e informações";
  display: block;
  position: absolute;
  top: -32px;
  color: rgb(0, 0, 0);
  font-size: 0.6rem;
  background-color: #E3E3E3;
  white-space: nowrap;
  padding: 4px 8px;
}
.MediaCard .Mini-menu .Circle-3:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  background-color: #E3E3E3;
  transform: rotate(45deg);
}
.MediaCard .Mini-menu .Circle-3 .Play-button {
  width: 12px;
  height: auto;
  filter: invert(1);
  transform: rotate(90deg);
}
.MediaCard .Informations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 6px;
  padding: 2px 8px;
}
.MediaCard .Informations .Relevance {
  color: #46d369;
  font-size: 0.7rem;
  font-weight: 500;
}
.MediaCard .Informations .Age-rating-10 {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  background-color: #2eb2ff;
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCard .Informations .Age-rating-12 {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  background-color: #f7d917;
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCard .Informations .Age-rating-14 {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  background-color: #ffa500;
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCard .Informations .Age-rating-16 {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  background-color: rgb(229, 9, 20);
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCard .Informations .Age-rating-18 {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  background-color: rgb(0, 0, 0);
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCard .Informations .Year {
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
}
.MediaCard .Informations .Number-episodes {
  color: #b3b3b3;
  font-size: 0.7rem;
  font-weight: 300;
}
.MediaCard .Informations .Hd {
  color: rgb(255, 255, 255);
  font-size: 0.6rem;
  font-weight: 100;
  line-height: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 2px;
  padding: 0px 3px;
}
.MediaCard .Genres {
  width: 100%;
  padding: 12px;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */