@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

#form-checkout {
    @include flex-column-center-start;
    max-height: 480px;
    gap: 16px;
    
    padding: 80px 16px 16px 16px;
    border: 1px solid rgba($background-primary-color, 0.24);
    border-radius: 3px;

    .Input {
        display: inline-block;

        height: 32px;
        width: 320px;
        padding: 4px;

        border: 1px solid rgba($background-primary-color, 0.24);
        border-radius: 4px;

        color: $font-quinary-color;
        font-size: $font-size-normal;
    }

    .Select {
        border: 1px solid rgba($background-primary-color, 0.24);
        padding: 4px;

        color: $font-quinary-color;
        font-size: $font-size-small;
    }

    .Pay-button{
        align-self: center;
        margin-bottom: 16px;
        padding: 8px 28px;
        border-radius: 4px;
        background-color: $button-primary-color;

        color: $font-primary-color;

        transition: filter 200ms;
        cursor: pointer;

        &:hover{
            filter: brightness(0.95);
        }
    }

    .Progress-bar{
        
    }
}