@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

.Section{
    position: relative;
    margin-bottom: 12px;
    padding: 16px;
    overflow: hidden;

    @include mq-small{
        margin-bottom: 0;
    }

    @include mq-medium{
        margin-bottom: 12px;
    }

    & > .Title{
        color: $font-primary-color;
        font-size: $font-size-medium;
        font-weight: 500;

        @include mq-small{
            font-size: $font-size-normal;
            font-weight: 400;
        }
    }

    & > .Playlist-container{
        position: relative;
        width: 100%;

        .Arrow{
            position: absolute;
            z-index: 99999;
            width: 24px;
            height: 100%;

            background-image: url(../../../assets/svg/arrow-right.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            
            filter: invert(0.5);
            transition: scale 400ms;
            cursor: pointer;
        }

        .Left-arrow{
            transform: rotateZ(180deg);
            top: 0;
            left: -20px;
        }
        .Right-arrow{
            top: 0;
            right: -20px;
            visibility: hidden;
        }
        &:hover .Left-arrow{
            filter: invert(1);
        }
        &:hover .Right-arrow{
            visibility: visible;
            filter: invert(1);
        }

        & > .Playlist{
            z-index: 999;
            @include flex-row-start-center;
            gap: 2px;
            padding: 2px 0;
    
            overflow-x: auto;
            overflow-y: visible;
            cursor: grab;
    
            .Thumbnail{
                min-width: 144px;
                min-height: 81px;
                max-width: 144px;
                max-height: 81px;
                object-fit: cover;
                border: 1px solid $background-primary-color;
                z-index: 999;
                transition: border 400ms;
                cursor: pointer;
    
                @include mq-small{
                    min-width: 112px;
                    min-height: 63px;
                    max-width: 112px;
                    max-height: 63px;
                }
    
                &:hover{
                    border: 1px solid $background-secondary-color;
                    z-index: 9999;
                }
            } 
    
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
    
    /*
    &::before, &::after{
        content: "";
        position: absolute;
        z-index: 99999;
        width: 24px;
        height: 100%;

        background-image: url(../../../assets/svg/arrow-right.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        
        filter: invert(0.5);
        transition: scale 400ms;
        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }
    }

    &::before{
        transform: rotateZ(180deg);
        top: 12px;
        left: 0;
    }
    &::after{
        top: 12px;
        right: 12px;
        visibility: hidden;
    }

    &:hover::before{
        filter: invert(1);
    }
    &:hover::after{
        visibility: visible;
        filter: invert(1);
    }
    */

}