@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.LoadingPage{
    @include flex-column-center-center;
    min-height: 100vh;
    width: 100%;
    background-color: $background-6-color;
}