@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

.Section{
    position: relative;
    z-index: 996;
    margin-bottom: 12px;
    padding: 24px;

    @include mq-small{
        margin-bottom: 0;
        padding: 12px;
    }

    @include mq-medium{
        margin-bottom: 12px;
    }

    & > .Title{
        color: $font-primary-color;
        font-size: $font-size-medium;
        font-weight: 500;
        margin-bottom: 16px;

        @include mq-small{
            font-size: $font-size-normal;
            font-weight: 400;
            margin-bottom: 8px;
        }
    }

    & > .Playlist-container{
        position: relative;
        z-index: 997;
        width: 100%;

        .Arrow-background-left{
            position: absolute;
            z-index: 9998;
            width: 32px;
            height: 100%;
            top: 0;
            left: -64px;
            background-color: rgba(black, 0.48);
            transform: rotateZ(180deg);
            visibility: hidden;

            @include mq-small{
                left: -48px
            }
        }

        .Arrow-background-right{
            position: absolute;
            z-index: 9998;
            width: 32px;
            height: 100%;
            top: 0;
            right: -64px;
            background-color: rgba(black, 0.48);
            visibility: hidden;

            @include mq-small{
                right: -48px;
            }
        }

        .Arrow{
            display: block;
            width: 32px;
            height: 100%;

            background-image: url(../../../assets/svg/arrow-right.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            
            filter: invert(0.5);
            cursor: pointer;

            &:hover{
                filter: invert(1);
            }

            @include mq-small{
                width: 24px;
            }
        }

        .Hidden{
            visibility: hidden !important;
        }

        &:hover .Arrow-background-left{
            visibility: visible;
        }
        &:hover .Arrow-background-right{
            visibility: visible;
        }

        & > .Playlist{
            @include flex-row-start-center;
            gap: 6px;
            padding: 2px 0;
            height: 137px;
            position: relative;
            z-index: 998;
    
            overflow: visible;
    
            &::-webkit-scrollbar{
                display: none;
            }

            @include mq-small{
                height: 88px;
            }
        }
    }
}