@import '../../../assets/sass/variables';
@import '../../../assets/sass/mixins';

:-webkit-full-screen {
    width: 100%;
    top:0;
    z-index: -100;
    background: none;
}

:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
}

.TrackPage {
    width: 100vw;
    min-height: 100svh;
}

.hide {
    display: none !important;
}

.videoContainer {
    position: fixed;
    margin: auto;
    inset: 0;
    width: max-content;
    height: max-content;
}

video{
    width: 100vw;
    height: auto;
}

.video-controller, .video-controller-fullscreen {
    position: fixed;
    z-index: 2147483647;
    width: 100%;
    bottom: 0;
    left: 0;
    height: calc(56px + 24px + 24px);
    padding: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @include mq-medium{
        gap: 18px;
        padding: 16px;
    }
    @include mq-small{
        gap: 12px;
        padding: 12px;
    }
}

.menu,
.video-controller {
    background-color: transparent;
}

.menu-item-unselected,
.menu-item-selected{
    font-weight: normal;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-item-unselected {
    color: white;
}

.menu-item-over,
.menu-item-selected {
    background-color: white;
    color: black;
}

.menu-sub-menu-title {
    background-color: #191919;
    font-weight: bold;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.menu-item-selected {
    opacity: .7;
}

.menu ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

.menu li{
    padding:0 10px;
    cursor: pointer;
}

.menu {
    position: absolute;
}

#bitrateMenu .menu-sub-menu-title {
    min-width: 150px;
}

.btn-play-pause {
    cursor: pointer;
}
.icon-fullscreen-enter {
    cursor: pointer;
}
.icon-fullscreen-exit {
    cursor: pointer;
}
.btn-caption {
    cursor: pointer;
}

.time-display,
.duration-display {
    padding: 10px;
    color: white;
    font-weight: normal;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    @include mq-medium{
        padding: 6px;
        font-size: 18px;
    }
    @include mq-small{
        padding: 4px;
        font-size: 16px;
    }
}

.icon-play,
.icon-pause,
.icon-caption,
.icon-mute-off,
.icon-mute-on,
.icon-fullscreen-enter,
.icon-fullscreen-exit,
.icon-tracks,
.icon-bitrate {
    font-family: 'icomoon';
    font-size: 20px;
    color: white;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;
}

.icon-fullscreen-enter:before {
    content: "";
    background-image: url("../../../../../public/videoBar/fullscreen-enter.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-fullscreen-exit:before {
    content: "";
    background-image: url("../../../../../public/videoBar/fullscreen-exit.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-play:before {
    content: "";
    background-image: url("../../../../../public/videoBar/play.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-pause:before {
    content: "";
    background-image: url("../../../../../public/videoBar/pause.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-mute-on:before {
    content: "";
    background-image: url("../../../../../public/videoBar/volume-on.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-mute-off:before {
    content: "";
    background-image: url("../../../../../public/videoBar/volume-off.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-caption:before {
    content: "";
    background-image: url("../../../../../public/videoBar/caption.svg");
    background-size: contain;
    background-position: center;
    width: 52px;
    height: 52px;
    display: block;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}
.icon-bitrate:before {
    content: "\e905";
}
.icon-tracks:before {
    content: "\e90a";
}

.seekContainer {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-mute {
    display: flex;
    align-items: center;
    justify-items: center;
    transform: rotate(-90deg);
    width: 52px;
    height: 52px;
    overflow: visible;
    @include mq-medium{
        width: 44px;
        height: 44px;
    }
    @include mq-small{
        width: 32px;
        height: 32px;
    }
}

.btn-mute:hover .volumebar {
    opacity: 1;
}

#iconMute {
    transform: rotate(90deg);
}

.volumebar {
    width: 120px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    height: 12px;
    border: none;
    margin: 12px 8px;
    background: rgb(156, 155, 155);
    outline: none;  
    opacity: 0;
    cursor: pointer;
}
input[type="range"]:hover {
    opacity: 1;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}
input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: rgb(229,9,20);
}

input[type="range"]::-ms-fill-lower {
    background: rgb(229,9,20);
}
input[type="range"]::-ms-fill-upper {
    background: rgb(229,9,20);
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    background-color:rgb(229,9,20);
    transform: scale(5);
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    background-color:rgb(229,9,20);
    transform: scale(5);
}
input[type="range"]::-ms-thumb {
    -ms-appearance: none;
    width: 5px;
    height: 5px;
    border: none;
    border-radius: 50%;
    background-color:rgb(229,9,20);
    transform: scale(5);
}

.thumbnail-container {
    position: absolute;
    text-align: center;
}

.thumbnail-elem {
    position: relative;
    box-shadow: 0px 0px 0.9em #000000;
    transform-origin: center bottom;
}

.thumbnail-time-label {
    position: relative;
    bottom: 1.8em;
    display: table;
    margin: 0 auto;
    padding: 2px 5px 2px 5px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.seekbar-complete {
    width: 100%;
    height: 6px;
    background: #999a99;
    position: relative;
    overflow: hidden;
    top: 45%;
}

.seekbar-buffer {
    position: absolute;
    left: 0px;
    top: 0;
    width: 0%;
    height: 6px;
    background: lightgray;
}

.seekbar-play {
    position: absolute;
    left: 0px;
    top: 0;
    width: 0%;
    height: 6px;
    background: rgb(229,9,20);
}

#loading {
    position: absolute;
    margin: auto;
    inset: 0;
    width: max-content;
    height: max-content;
}

#loading.icon-loading {
    display: block;
}

#loading.icon-not-loading { 
    display: none;
}

.middle-play-btn {
    display: block;
    width: 76px;
    height: 76px;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    position: fixed;
    inset: 0;
    margin: auto;
    cursor: pointer;

    &:hover {
        border: 2px solid rgba(255,255,255,1);
        transition: border 200ms;
    }
}

.middle-play-btn::before {
    content: "";
    background-image: url("../../../../../public/videoBar/play.svg");
    background-size: contain;
    background-position: center;
    width: 48px;
    height: 48px;
    display: block;
    position: fixed;
    inset: 0;
    margin: auto;
    @include mq-medium{
        width: 42px;
        height: 42px;
    }
    @include mq-small{
        width: 30px;
        height: 30px;
    }
}

.icon-middle-play-btn-on {
    visibility: visible;
}

.icon-middle-play-btn-off {
    visibility: hidden;
}