@charset "UTF-8";
.MediaCardDialog {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(25, 24, 26);
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}
.MediaCardDialog .Preview-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 300px;
  left: 0;
  padding: 64px;
  z-index: 9999999;
}
.MediaCardDialog .Preview-menu .Toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.MediaCardDialog .Preview-menu .Toolbar .Button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 8px 28px;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
.MediaCardDialog .Preview-menu .Toolbar .Button:hover {
  filter: brightness(0.9);
  transition: filter 150ms;
}
.MediaCardDialog .Preview-menu .Toolbar .Button img {
  width: 28px;
  height: auto;
}
@media only screen and (max-width: 720px) {
  .MediaCardDialog .Preview-menu .Toolbar .Button img {
    width: 24px;
  }
}
@media only screen and (max-width: 576px) {
  .MediaCardDialog .Preview-menu .Toolbar .Button img {
    width: 18px;
  }
}
.MediaCardDialog .Preview-menu .Circle-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid #8c8c8c;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
}
.MediaCardDialog .Preview-menu .Circle-1:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.06);
  transition: all 100ms;
}
.MediaCardDialog .Preview-menu .Circle-1:hover::after {
  content: "Adicionar à minha lista";
  display: block;
  position: absolute;
  top: -32px;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #E3E3E3;
  white-space: nowrap;
  padding: 10px 16px;
  border-radius: 8px;
}
.MediaCardDialog .Preview-menu .Circle-1:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  background-color: #E3E3E3;
  transform: rotate(45deg);
}
.MediaCardDialog .Preview-menu .Circle-1 .Add-to-list-button {
  font-size: 3rem;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: center;
}
.MediaCardDialog .Preview-menu .Circle-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid #8c8c8c;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
}
.MediaCardDialog .Preview-menu .Circle-2:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.06);
  transition: all 100ms;
}
.MediaCardDialog .Preview-menu .Circle-2:hover::after {
  content: "Gostei";
  display: block;
  position: absolute;
  top: -32px;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #E3E3E3;
  white-space: nowrap;
  padding: 10px 16px;
  border-radius: 8px;
}
.MediaCardDialog .Preview-menu .Circle-2:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  width: 8px;
  height: 8px;
  background-color: #E3E3E3;
  transform: rotate(45deg);
}
.MediaCardDialog .Preview-menu .Circle-2 .Like-button {
  width: 28px;
  height: auto;
  filter: invert(1);
}
.MediaCardDialog .Preview-menu .Circle-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 2px solid #8c8c8c;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.12);
}
.MediaCardDialog .Preview-menu .Circle-3:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.06);
  transition: all 100ms;
}
.MediaCardDialog .Preview-menu .Circle-3:hover .Sound-button {
  filter: invert(1);
}
.MediaCardDialog .Preview-menu .Circle-3 .Sound-button {
  width: 28px;
  height: auto;
  filter: invert(0.8);
  transform: rotate(90deg);
}
.MediaCardDialog .Blured-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 488px;
  background: linear-gradient(0deg, rgb(25, 24, 26), transparent 50%);
}
.MediaCardDialog .Informations {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9999999;
  padding: 0 48px 24px 48px;
  cursor: default;
}
.MediaCardDialog .Informations .Column-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 65%;
}
.MediaCardDialog .Informations .Column-1 .Row-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
}
.MediaCardDialog .Informations .Column-1 .Row-1 .Relevance {
  color: #46d369;
  font-size: 1rem;
  font-weight: 500;
}
.MediaCardDialog .Informations .Column-1 .Row-1 .Year {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
.MediaCardDialog .Informations .Column-1 .Row-1 .Number-episodes {
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 300;
}
.MediaCardDialog .Informations .Column-1 .Row-1 .Duration {
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 400;
}
.MediaCardDialog .Informations .Column-1 .Row-1 .Hd {
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: 100;
  line-height: 0.8;
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 3px;
  padding: 1px 6px;
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 3px 3px;
  border-radius: 2px;
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating-10 {
  background-color: #2eb2ff;
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating-12 {
  background-color: #f7d917;
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating-14 {
  background-color: #ffa500;
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating-16 {
  background-color: rgb(229, 9, 20);
}
.MediaCardDialog .Informations .Column-1 .Row-2 .Age-rating-18 {
  background-color: rgb(0, 0, 0);
}
.MediaCardDialog .Informations .Column-1 .Row-3 {
  margin: 24px 0;
}
.MediaCardDialog .Informations .Column-1 .Row-3 .Synopsis {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  line-height: 1.6;
}
.MediaCardDialog .Informations .Column-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 30%;
  margin-left: 5%;
}
.MediaCardDialog .Informations .Column-2 .Label-tags {
  display: inline-block;
  margin: 8px 0;
  color: #8c8c8c;
  font-size: calc(0.8rem + 2px);
  font-weight: 300;
}
.MediaCardDialog .Informations .Column-2 .Label-tags .Cast {
  color: rgb(255, 255, 255);
  font-size: calc(0.8rem + 2px);
  font-weight: 300;
}
.MediaCardDialog .Informations .Column-2 .Label-tags .Genres {
  color: rgb(255, 255, 255);
  font-size: calc(0.8rem + 2px);
  font-weight: 300;
}/*# sourceMappingURL=styles.css.map */