@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';


.HomePage{
    @include flex-column-start-center;
    min-height: 100vh; 
    width: 100%;

    background-image: url('../../assets/img/home_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .Background-gradient{
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,1), rgba(0,0,0,0.3), rgba(0,0,0,1));

        .Header{
            @include flex-row-space-between-center;
            height: 76px;
            width: 100%;
    
            .Logo-container{
                margin-left: 16px;
    
                .Logo{
                    height: 24px;
                    width: auto;
                }
            }
    
            .Language-container{
                @include flex-row-center-center;
                gap: 8px;
                margin-right: 16px;
    
                .Select-language{
                    height: 36px;
                    padding: 8px 8px 8px 24px;
                    border: 1px solid rgba(255,255,255,0.24);
                    border-radius: 4px;

                    background-color: transparent;
                    background-image: url('../../assets/svg/globe.svg');
                    background-position: 5% 50%;
                    background-repeat: no-repeat;
                    background-size: 12%;

                    color: $font-primary-color;
                    font-size: $font-size-normal;
    
                    option{
                        background-color: $background-secondary-color;
    
                        font-size: $font-size-small;
                        color: $font-secondary-color;
                    }

                    &:focus{
                        outline-offset: 1px;
                        outline: 2px solid $button-secondary-color;
                    }

                    &::-ms-expand {
                        display: none;
                    }
                }
    
                .Login-button{
                    height: 32px;
                    padding-left: 12px;
                    padding-right: 12px;
                    border-radius: 4px;
                    background-color: $button-primary-color;

                    a{
                        background-color: $button-primary-color;
                        color: $font-primary-color;
                        font-size: $font-size-small;
                        font-weight: 500;
                        text-decoration: none;
                        cursor: pointer;
                        transition: all 0.2s;

                        &:visited{
                            color: $font-primary-color;
                        }
                    }

                    &:hover{
                        filter: grayscale(10%);
                    }

                }
    
            }
    
        }
    
        .HomePage-content{
            @include flex-column-center-center;
            width: 100%;
            min-height: 500px;
            
            .Content{
                @include flex-column-center-center;
                gap: 24px;
                
                .Row-1{
                    font-size: $font-size-xl;
                    color: $font-primary-color;
                    font-weight: 500;
                    stroke: $font-secondary-color;
                    stroke-width: 1px;
                    text-align: center;
                }
                .Row-2, .Row-3{
                    font-size: $font-size-medium;
                    color: $font-primary-color;
                    font-weight: 300;
                    stroke: $font-secondary-color;
                    stroke-width: 1px;
                    text-align: center;
                }
                .Row-4{
                    @include flex-row-center-center;
                    gap: 8px;
    
                    .Email-input{
                        width: 320px;
                        border: 1px solid rgba(255,255,255,0.5);
                        border-radius: 4px;
                        background-color: rgba(0,0,0,0.75);
                        padding: 18px 16px;
                        
                        color: $font-quaternary-color;
                        font-size: $font-size-normal;
                        font-weight: 500;

                        &:focus{
                            outline-offset: 1px;
                            outline: 2px solid $button-secondary-color;
                        }
                    }
    
                    .Subscribe-button{
                        border-radius: 2px;
                        padding: 14px 24px;
                        border-radius: 4px;
                        background-color: $button-primary-color;
                        
                        a{
                            color: $font-primary-color;
                            font-size: $font-size-large;
                            font-weight: 600;
                            text-decoration: none;

                            &:visited{
                                color: $font-primary-color;
                            }
                        }
                    }
                }
            }
        }

        footer{
            width: 100%;
            @include flex-column-start-start;
            gap: 16px;
            padding: 24px 32px;
            margin-top: 76px;
            background-color: rgb(0,0,0);

            @include mq-medium{
                border-top: 1px solid $font-tertiary-color;
            }

            .Row-1{
                margin-bottom: 12px;
                font-size: $font-size-normal;
                color: $font-quaternary-color;

                a{
                    color: $font-quaternary-color;
                    text-decoration: underline;
                    cursor: pointer;

                    &:visited{
                        color: $font-quaternary-color;
                    }
                }
            }

            .Row-2{
                width: 100%;
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
                column-gap: 36px;
                row-gap: 14px;

                & > a {
                    color: $font-quaternary-color;
                    font-size: $font-size-small;
                    text-decoration: underline;

                    &:visited{
                        text-decoration: none;
                        color: $font-quaternary-color;
                    }
                }
            }

            .Row-3{
                margin-bottom: 4px;

                .Select-language{
                    height: 36px;
                    padding: 8px 8px 8px 24px;
                    border: 1px solid rgba(255,255,255,0.24);
                    border-radius: 4px;

                    background-color: $background-tertiary-color;
                    background-image: url('../../assets/svg/globe.svg');
                    background-position: 5% 50%;
                    background-repeat: no-repeat;
                    background-size: 12%;

                    color: $font-primary-color;
                    font-size: $font-size-normal;
    
                    option{
                        background-color: $background-secondary-color;
    
                        font-size: $font-size-small;
                        color: $font-secondary-color;
                    }

                    &:focus{
                        outline-offset: 1px;
                        outline: 2px solid $button-secondary-color;
                    }

                    &::-ms-expand {
                        display: none;
                    }
                }
            }

            .Row-4{
                margin-bottom: 12px;
                color: $font-quaternary-color;
                font-size: $font-size-normal;
            }
        }
    }
}