@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.ContentsPage{
    position: relative;
    @include flex-column-start-center;
    min-height: 100vh; 
    min-width: 374px;
    width: 100%;
    background-color: $background-primary-color;

    .Contents-container{
        flex: 1;
        width: 100%;
    }
}