@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.Header{
    position: fixed;
    top: 0;
    z-index: 999999;

    @include flex-row-space-between-center;
    gap: 32px;
    width: 100%;
    min-width: 480px;
    padding: 20px;
    background-color: transparent;
    transition: background-color 300ms;

    .Logo-container{
        margin-left: 16px;

        @include mq-large{
            margin-left: 48px;
        }

        @include mq-small{
            margin-left: 32px;
        }

        .Logo{
            height: 24px;
            width: auto;

            @include mq-large{
                justify-self: center;
            }
        }
    }

    .Content-navigation{

        ul{
            @include flex-row-space-between-center;
            gap: 16px;
            padding: 0;

            li{
                list-style-type: none;
                font-size: $font-size-small;
                font-weight: 300;
                color: $font-primary-color;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .Hamburguer-menu{

        &::before{
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background-image: url("../../../assets/img/hamburger-menu.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            filter: invert(1);

            transition: all 200ms;
        }

        &:hover::before{
            transform: rotateZ(90deg);
        }

        ul{
            position: absolute;
            top: 32px;
            left: 0;
            @include flex-column-space-between-start;
            gap: 8px;
            padding: 8px 16px;
            background-color: $background-primary-color;
            visibility: hidden;
            opacity: 0;

            transition: opacity 400ms;
        }

        &:hover ul{
            visibility: visible;
            opacity: 1;
        }
    }

    .Extra-space{
        flex: 1 1 0;

        @include mq-large{
            display: none;
        }
    }

    .Other-options-container{
        @include flex-row-center-center;
        gap: 8px;
        padding-right: 8px;

        .Search-icon{
            margin-right: 8px;
            width: 20px;
            height: auto;
            filter: invert(1);
            cursor: pointer;
        }

        .Notifications-icon{
            width: 24px;
            height: auto;
            filter: invert(1);
            cursor: pointer;
        }

        .Signup-button{
            height: 32px;
            padding: 4px 16px;
            border-radius: 2px;
            background-color: $button-primary-color;

            a{
                color: $font-primary-color;
                font-size: $font-size-small;
                font-weight: 300;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.2s;

                &:visited{
                    color: $font-primary-color;
                }
            }

            &:hover{
                filter: grayscale(10%);
            }
        }

        .Login-button{
            height: 32px;
            padding: 4px 16px;
            border: 1px solid rgba($font-primary-color, 0.48);
            border-radius: 2px;
            background-color: $background-primary-color;

            a{
                color: $font-primary-color;
                font-size: $font-size-small;
                font-weight: 300;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.2s;

                &:visited{
                    color: $font-primary-color;
                }
            }

            &:hover{
                filter: grayscale(10%);
            }
        }
    }

}