.Header {
  position: fixed;
  top: 0;
  z-index: 999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  min-width: 480px;
  padding: 20px;
  background-color: transparent;
  transition: background-color 300ms;
}
.Header .Logo-container {
  margin-left: 16px;
}
@media only screen and (max-width: 956px) {
  .Header .Logo-container {
    margin-left: 48px;
  }
}
@media only screen and (max-width: 576px) {
  .Header .Logo-container {
    margin-left: 32px;
  }
}
.Header .Logo-container .Logo {
  height: 24px;
  width: auto;
}
@media only screen and (max-width: 956px) {
  .Header .Logo-container .Logo {
    justify-self: center;
  }
}
.Header .Content-navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.Header .Content-navigation ul li {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.Header .Content-navigation ul li:hover {
  text-decoration: underline;
}
.Header .Hamburguer-menu::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../../../Presentation/assets/img/hamburger-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
  transition: all 200ms;
}
.Header .Hamburguer-menu:hover::before {
  transform: rotateZ(90deg);
}
.Header .Hamburguer-menu ul {
  position: absolute;
  top: 32px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 16px;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: opacity 400ms;
}
.Header .Hamburguer-menu:hover ul {
  visibility: visible;
  opacity: 1;
}
.Header .Extra-space {
  flex: 1 1 0;
}
@media only screen and (max-width: 956px) {
  .Header .Extra-space {
    display: none;
  }
}
.Header .Other-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
}
.Header .Other-options-container .Search-icon {
  margin-right: 8px;
  width: 20px;
  height: auto;
  filter: invert(1);
  cursor: pointer;
}
.Header .Other-options-container .Notifications-icon {
  width: 24px;
  height: auto;
  filter: invert(1);
  cursor: pointer;
}
.Header .Other-options-container .Signup-button {
  height: 32px;
  padding: 4px 16px;
  border-radius: 2px;
  background-color: rgb(229, 9, 20);
}
.Header .Other-options-container .Signup-button a {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.Header .Other-options-container .Signup-button a:visited {
  color: rgb(255, 255, 255);
}
.Header .Other-options-container .Signup-button:hover {
  filter: grayscale(10%);
}
.Header .Other-options-container .Login-button {
  height: 32px;
  padding: 4px 16px;
  border: 1px solid rgba(255, 255, 255, 0.48);
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
}
.Header .Other-options-container .Login-button a {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}
.Header .Other-options-container .Login-button a:visited {
  color: rgb(255, 255, 255);
}
.Header .Other-options-container .Login-button:hover {
  filter: grayscale(10%);
}/*# sourceMappingURL=styles.css.map */